body {
    background-image: linear-gradient(to bottom, #858585, #8e8d8e, #969596, #a09e9e, #a9a6a6, #b1aeae, #b9b6b6, #c1bebe, #cac7c7, #d4d1d1, #dddada, #e7e4e4);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}