$primary: #e6e6e6;
$navbar: #80dfff;
$navbtn: #ffffff;
$bGroundColor:  #696969;
$bGroundImage: linear-gradient(to bottom, #000000, #252026, #393e4d, #416270, #508787);
$black: #000000;
$warning: #ef281a;
$lightblue: #22a2dd;
$boxShadow: #e6cf00;
$stronggrey: #4f4f4f;
