@import "./variables";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 70vh;
    margin-top:5vh;;
    border: 2px solid black;
    border-radius: 20px;
    background-image: $bGroundImage;
    
    .formTitle {
        font-size: 1.4rem;
        color: white;
        margin-top: 2rem;
        letter-spacing: 3px;
        text-align: center;
        @media screen and (max-height: 667px) {
           font-size: .8rem;
           margin-top: 1.2rem;
        }
        @media screen and (min-height: 700px) and (max-height:840px){
            font-size: .9rem;
            margin-top: 1.3rem;
        }
        @media screen and (min-width: 1025px) {
            font-size: 1.4rem;
            margin-top: 2rem;
        }
    }
    .container_form {
        margin-top: 2rem;
        width: 60%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        letter-spacing: 1px;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        background-color:$bGroundColor;
        font-size: 1rem;
        @media screen and (max-height: 667px) {
            font-size: .45rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px) {
            font-size: .50rem;
         }
         @media screen and (min-width: 1025px) {
            font-size: 1rem;
        }
        @media screen and (min-width: 1025px) {
            font-size: 1rem;
        }
    }
    .name_container{
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
         
    }
    .name_inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .form_name {
        color: black;
        width: 8rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.3rem;
            height: .4rem;
            font-size: .3rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            width: 3rem;
            height: .4rem;
            font-size: .4rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8rem;
            border-radius: 5px;
        }
    }
    .surname_container {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .surname_inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .form_surname {
        color: black;
        width: 8rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.3rem;
            height: .4rem;
            font-size: .3rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            width: 3rem;
            height: .4rem;
            font-size: .4rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8rem;
        }
    }
    .phone_container{
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px) {
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .phone_inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .form_number{
        color: black;
        width: 8rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.3rem;
            height: .4rem;
            font-size: .3rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            width: 3rem;
            height: .4rem;
            font-size: .4rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8rem;
        }
    }
    .appoint_doctor {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .form_select-doc {
        color: black;
        width: 8.35rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.64rem;
            height: .6rem;
            font-size: .3rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            width: 3.4rem;
            height: .6rem;
            font-size: .3rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8.35rem;
        }
    }
    .day_container {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .form_select-day {
        color: black;
        width: 8.33rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.64rem;
            height: .6rem;
            font-size: .3rem;
        }
        @media screen and (min-height: 710px) and (max-height:840px){
            width: 3.4rem;
            height: .6rem;
            font-size: .3rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8.35rem;
        }
    }
    .hour_container{
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px) {
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .form_select-hour {
        color: black;
        width: 3.5rem;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 667px) {
            width: 2.64rem;
            height: .6rem;
            font-size: .3rem;
        }
        @media screen and (min-height: 710px) and (max-height:840px){
            width: 3.4rem;
            height: .6rem;
            font-size: .3rem;
         }
         @media screen and (min-width: 1025px) {
            width: 8.35rem;
        }
    }
    .rodo_container {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-height: 667px)  {
            margin-top: .2rem;
            margin-left: .2rem;
            margin-right: .2rem;
            margin-bottom: .2rem;
         }
         @media screen and (min-height: 710px) and (max-height:840px){
            margin-top: .21rem;
            margin-left: .21rem;
            margin-right: .21rem;
            margin-bottom: .21rem;
         }
         @media screen and (min-width: 1025px) {
            margin-top: .8rem;
            margin-left: .5rem;
            margin-right: .5rem;
            margin-bottom: .8rem;
        }
    }
    .rodo_container-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .rodo_text {
        @media screen and (max-height: 667px)  {
        margin-top: .2rem;
    }
    }
    .form_checkbox {
        color: black;
        height: .75rem;
        width: .75rem;
        @media screen and (max-height: 667px) {
            height: .5rem;
            width: .5rem;
        }
        @media screen and (min-height: 710px) and (max-height:840px){
            height: .6rem;
            width: .6rem;
            margin-top: .5rem;
         }
         @media screen and (min-width: 1025px) {
            height: .75rem;
            width: .75rem;
         }
    }
    .form_button {
        margin: 0 auto;
        width: 7rem;
        height: 1.5rem;
        background-color:#22a2dd;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #e6cf00;
        transition: .35s ease-in;
        cursor: pointer;
        @media screen and (max-height: 667px) {
        width: 3.5rem;
        height: 1.2rem;
        }
         @media screen and (min-height: 710px ) and (max-height:840px) {
            width: 4rem;
            height: 1.35rem;
         }
         
        &:hover {
            background-color: #ef281a;
            box-shadow: 2px 2px 3px #ffffff;
        }
    }
    .form_approval {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-bottom: .8rem;
        text-align: center;
    }
    .warning {
        color: #ef281a;
        font-size: .6rem;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        @media screen and (max-height: 667px) {
            margin-top: .2rem;
            margin-right: .2rem;
            font-size: .3rem;
            font-weight: 300;
            text-align: right;
         }
         @media screen and (min-height: 710px) and (max-height:840px) {
            margin-top: .21rem;
            margin-right: .21rem;
            font-size: .4rem;
            font-weight: 400;
            text-align: right;
         }
    }
    
}


