.container-contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  color: #ffffff;
  border: 2px solid black;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #252026,
    #393e4d,
    #416270,
    #508787
  );
  font-size: 1.05rem;
  margin-bottom: 10vh;
  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    height: 82vh;
    width: 100%;
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #696969;
    border: 1px solid black;
    border-radius: 20px;
    letter-spacing: 1px;
    width: 40%;
    height: 40vh;
    @media screen and (max-width: 960px) {
      width: 95%;
      height: 30%;
      padding: 10% 0;
      font-size: 1rem;
    }
    @media screen and (max-height: 570px) {
      font-size: .65rem;
    }
    @media screen and (min-height: 639px) and (max-height: 668px) {
      font-size: .7rem;
    }
    @media screen and (min-height: 719px) and (max-height: 736px) {
      font-size: .9rem;
    }
    @media screen and (max-width: 281px) {
      font-size: .45rem;
    }
    @media screen and (min-height: 1023px) and (max-height: 1025px) {
      font-size: 1.05rem;
    }

    .date_heading {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 2rem;
      font-size: 1.3rem;
      letter-spacing: 1.7px;
      @media screen and (max-height: 568px) {
        font-size: .85rem;
      }
      @media screen and (min-height: 639px) and (max-height: 668px) {
        font-size: 1rem;
      }
      @media screen and (min-height: 719px) and (max-height: 736px) {
        font-size: 1.15rem;
      }
      @media screen and (max-width: 281px) {
        font-size: .65rem;
      }
      @media screen and (min-height: 1023px) and (max-height: 1025px) {
        font-size: 1.4rem;
        margin-bottom: 5rem;
      }
    }
    .adress_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.1rem;
      width: 90%;
    }
    .date_text_adress-3 {
      width: 90%;
      text-align: right;
      margin-bottom: 0.8rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    .number_container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.8rem;
    }
    .mail_container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.8rem;
    }
    .NIP_container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-bottom: 0.8rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    .KRS_container {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
  .date_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #696969;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 1.05rem;
    width: 40%;
    height: 40vh;
    @media screen and (max-width: 960px) {
      width: 95%;
      height: 30%;
      font-size: 1rem;
      padding: 10% 0;
    }
  
    .date_active-heading {
      font-size: 1.3rem;
      letter-spacing: 1.7px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 5rem;
  
      width: 90%;
      text-align: center;
      @media screen and (max-height: 568px) {
        font-size: .85rem;
      }
      @media screen and (min-height: 639px) and (max-height: 668px) {
        font-size: 1rem;
      }
      @media screen and (min-height: 719px) and (max-height: 737px) {
        font-size: 1.15rem;
      }
      @media screen and (max-width: 281px) {
        font-size: .65rem;
      }
      @media screen and (min-height: 1023px) and (max-height: 1025px) {
        font-size: 1.4rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
    }
    .data_active-form {
      margin-bottom: 5.5rem;
      margin-top: 1rem;
      width: 90%;
      @media screen and (max-height: 568px) {
        margin-bottom: 4.5rem;
        font-size: .65rem;
      }
      @media screen and (min-height: 639px) and (max-height: 668px) {
        font-size: .7rem;
      }
      @media screen and (min-height: 719px) and (max-height: 737px) {
        font-size: .9rem;
      }
      @media screen and (max-width: 281px) {
        font-size: .45rem;
      }
      @media screen and (min-height: 1023px) and (max-height: 1025px) {
        font-size: 1.05rem;
      }
    }
    .active_form-email {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .form_email_input {
        height: 0.58rem;
        border-radius: 5px;
        border: 1px solid black;
        width: 6.5rem;
        @media screen and (max-height: 570px) {
          font-size: .65rem;
          }
          @media screen and (min-height: 639px) and (max-height: 668px) {
            font-size: .7rem;
            width: 8rem;
          }
          @media screen and (min-height: 719px) and (max-height: 737px) {
            width: 8.5rem;
            height: 0.7rem;
            font-size: .9rem;
          }
          @media screen and (max-width: 281px) {
            font-size: .45rem;
            width: 7.5rem;
          }
          @media screen and (min-height: 1023px) and (max-height: 1025px) {
            width: 13rem;
            font-size: 1.05rem;
            height: .9rem;

          }
      }
    }
    .active_warning {
      color: #ef281a;
      font-size: 0.8rem;
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      margin-top: 0.1rem;
      text-align: right;
      @media screen and (max-height: 568px) {
        font-size: .45rem;
      }
      @media screen and (min-height: 639px) and (max-height: 668px) {
        font-size: .5rem;
      }
      @media screen and (min-height: 639px) and (max-height: 668px) {
        font-size: .6rem;
      }
      @media screen and (min-height: 719px) and (max-height: 737px) {
        font-size: .7rem;
      }
      @media screen and (max-width: 281px) {
        font-size: .4rem;
      }
    }
    .active_form-textarea {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      .data_active-textarea {
        height: 2rem;
        width: 6.5rem;
        resize: none;
        border-radius: 5px;
        border: 1px solid black;
        @media screen and (max-height: 570px) {
        font-size: .65rem;
        }
        @media screen and (min-height: 639px) and (max-height: 668px) {
          font-size: .7rem;
          width: 8rem;
        }
        @media screen and (min-height: 719px) and (max-height: 737px) {
          width: 8.5rem;
          font-size: .9rem;
        }
        @media screen and (max-width: 281px) {
          font-size: .45rem;
          width: 7.5rem;
        }
        @media screen and (min-height: 1023px) and (max-height: 1025px) {
          width: 13rem;
          font-size: 1.05rem;

        }
      }
      
    }
    .active_form-checkbox {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .active_checkbox {
        height: 0.9rem;
        width: 0.9rem;
        @media screen and (max-height: 568px) {
          height: .6rem;
          width: .6rem;
        }
        @media screen and (min-height: 639px) and (max-height: 668px) {
          height: .7rem;
          width: .7rem;
        }
        @media screen and (min-height: 719px) and (max-height: 737px) {
          height: .8rem;
          width: .8rem;
        }
        @media screen and (max-width: 281px) {
          height: .55rem;
          width: .55rem;
        }
        @media screen and (min-height: 1023px) and (max-height: 1025px) {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }
    .active_button-center {
      display: flex;
      justify-content: center;
      .active_button {
        width: 7rem;
        height: 1.5rem;
        color: #fff;
        background-color: #22a2dd;
        border-radius: 5px;
        border: none;
        margin-top: 0.8rem;
        box-shadow: 2px 2px 3px #e6cf00;
        transition: 0.35s ease-in;
        @media screen and (max-height: 568px) {
          width: 5rem;
          height: 1rem;
          margin-top: .3rem;
        }
        @media screen and (min-height: 639px) and (max-height: 668px) {
          width: 6rem;
          height: 1.2rem;
          margin-top: .5rem;
        }
        @media screen and (min-height: 719px) and (max-height: 737px) {
          width: 6.5rem;
          height: 1.3rem;
          margin-top: .7rem;
        }
        @media screen and (max-width: 281px) {
          width: 5rem;
          height: 1rem;
          margin-top: .5rem;
        }
        @media screen and (min-height: 1023px) and (max-height: 1025px) {
          width: 10rem;
          height: 1.5rem;
          margin-top: 1.5rem
        }
        &:hover {
          background-color: #ef281a;
          box-shadow: 2px 2px 3px #ffffff;
        }
        
      }
    }
  }
}
