.navbar {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
    background-image: linear-gradient(to bottom, #000000, #252026, #393e4d, #416270, #508787);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.2rem;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 5px;
    text-align: center;
    width: 70vw;
    justify-content: end;
  }
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .nav-links:hover {
    background-color: #22a2dd;
    border-radius: 4px;
    transition: all .35s ease-in;
  }
  .fa-bars {
    color: #fff;
    font-size: 2.2rem;
    top: 0;
    right: 0;
    transform: translate(-90%, -5%);
    transition: all .35s ease-in;
  }
  .fa-bars:hover {
    color: #22a2dd;
  }
  .menu-icon {
    display: none;
  }
  @media screen and (max-width: 960px) {
    .nav-item {
      position: relative;
      margin-top: 0.624rem;
      margin-top: 0.624rem;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70vh;
      position: absolute;
      top: 5rem;
      left: -100%;
      /* opacity: 1; */
      transition: all 0.5s ease;
    }
    .nav-menu.active {     
      background: #595959;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-links {
      text-align: center;
      padding: 2.5rem;
      width: 100%;
      transition: all .35s ease-in;
      /* display: table; */
    }
    .nav-links:hover {
      background-color: #22a2dd;
      border-radius: 0;
    }
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 60%);
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
    .fa-times {
      color: #fff;
      font-size: 2.2rem;
      top: 0;
      right: 0;
      transform: translate(-125%, -5%);
      transition: all .35s ease-in;
    }
    .fa-times:hover {
      color: #22a2dd;
    }
  }