.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    width: 30rem;
    height: 38rem;
    border: 2px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #000000, #252026, #393e4d, #416270, #508787);
    
    .formTitle {
        font-size: 40px;
        color: white;
        margin-top: 2rem;
        margin-bottom: 2rem;
        letter-spacing: 3px;
    }
    .container_form {
        width: 21rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        letter-spacing: 1px;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        background-color: #696969;
    }
    .label_form_name{
        margin-top: .8rem;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_name {
        color: black;
        margin-left: 4.17rem;
        width: 6rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form_surname {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_surname {
        color: black;
        margin-left: 1.5rem;
        width: 6rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form_telephone{
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_number{
        color: black;
        margin-left: 1.04rem;
        width: 6rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form_doc {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_select-doc {
        color: black;
        margin-left: 4.75rem;
        width: 6.34rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form_day {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_select-day {
        color: black;
        margin-left: 1.86rem;
        width: 6.33rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form_hour{
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_select-hour {
        color: black;
        margin-left: 3.25rem;
        width: 3.5rem;
        border-radius: 5px;
        border: 1px solid black;
    }
    .label_form-rodo {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .8rem;
    }
    .form_checkbox {
        color: black;
        margin-left: 5.45rem;
        height: .9rem;
        width: .9rem;
    }
    .form_button {
        margin: 0 auto;
        width: 7rem;
        height: 1.5rem;
        background-color:#22a2dd;
        color: white;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #e6cf00;
        transition: .35s ease-in;
        cursor: pointer;
        &:hover {
            background-color: #ef281a;
            box-shadow: 2px 2px 3px #ffffff;
        }
    }
    .form_approval {
        margin-top: .8rem;
        margin-left: .5rem;
        margin-bottom: .8rem;
    }
    .warning {
        color: #ef281a;
        font-size: .8rem;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
    }
    
}


