.container-cms {
    width: 90%;
    padding: 3rem 0;
    margin: 0 auto;
    color: white;
    height: 60vh;
    background-color: red;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media screen and (min-width: 539px) and (max-width: 541px){
        margin-top: 3vh; 
    }
    @media screen and (min-width: 410px) and (max-width: 415px){
        margin-top: 3vh;
    }
    @media screen and (min-width: 370px) and (max-width: 380px){
        margin-top: 3vh;
    }
    @media screen and (min-width: 359px) and (max-width: 361px){
        margin-top: 2.5vh;
    }
    @media screen and (min-width: 319px) and (max-width: 321px){
        margin-top: 1.5vh;
    }
    @media screen and (min-width: 279px) and (max-width: 281px){
        margin-top: 2.5vh;
    }
}
.cms-title-section{
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    @media screen and (min-width: 539px) and (max-width: 541px){
       font-size: 1.35rem; 
    }
    @media screen and (min-width: 410px) and (max-width: 415px){
        font-size: 1.15rem;
    }
    @media screen and (min-width: 410px) and (max-width: 415px){
        font-size: 1.05rem;
    }
    @media screen and (min-width: 370px) and (max-width: 380px){
        font-size: 1rem;
    }
    @media screen and (min-width: 359px) and (max-width: 361px){
        font-size: .95rem;
    }
    @media screen and (min-width: 319px) and (max-width: 321px){
        font-size: .85rem;
    }
    @media screen and (min-width: 279px) and (max-width: 281px){
        font-size: .8rem;
    }
    
}
.cms-lists{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    border-radius: 25px;
    border: 2px solid black;
    padding: 1rem;
    color: #ffffff;
    background-color:  #22a2dd;
    overflow: scroll;
    height: 10rem;
    width: 40rem;
    @media screen and (min-width: 539px) and (max-width: 541px){
        border: 1px solid black;
        width: 25rem;
        height: 8rem;
    }
    @media screen and (min-width: 410px) and (max-width: 415px){
        width: 20rem;
        height: 7rem;
    }
    @media screen and (min-width: 370px) and (max-width: 380px){
        width: 18rem;
        height: 6rem;
    }
    @media screen and (min-width: 359px) and (max-width: 361px){
        width: 17rem;
        height: 5rem;
    }
    @media screen and (min-width: 319px) and (max-width: 321px){
        width: 15rem;
        height: 4rem;
    }
    @media screen and (min-width: 279px) and (max-width: 281px){
        width: 13rem;
        height: 6rem;
    }
    li{
        margin: .5rem 0;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2rem;
        span{
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.1rem;
            border-left: 1px solid black;
            border-right: 1px solid black;
            font-size: .7rem;
            text-align: center;
            overflow: scroll;
            
            @media screen and (min-width: 539px) and (max-width: 541px){
                font-size: .6rem;
            }
            @media screen and (min-width: 410px) and (max-width: 415px){
                font-size: .5rem;
            }
            @media screen and (min-width: 370px) and (max-width: 380px){
                font-size: .45rem;
            }
            @media screen and (min-width: 359px) and (max-width: 361px){
                font-size: .4rem;
            }
            @media screen and (min-width: 319px) and (max-width: 321px){
                font-size: .35rem;
            }
            @media screen and (min-width: 279px) and (max-width: 281px){
                font-size: .3rem;
            }
        }
        .mess{
            display: block;
            width: 100%;
            height: 85%;
            background-color: #22a2dd; 
            resize: none;
            color: white;
            border: 1px solid black;
            font-size: .7rem;
            text-align: center;
            overflow: scroll;
            @media screen and (min-width: 539px) and (max-width: 541px){
                font-size: .6rem;
            }
            @media screen and (min-width: 410px) and (max-width: 415px){
                font-size: .5rem;
            }
            @media screen and (min-width: 370px) and (max-width: 380px){
                font-size: .45rem;
            }
            @media screen and (min-width: 359px) and (max-width: 361px){
                font-size: .4rem;
            }
            @media screen and (min-width: 319px) and (max-width: 321px){
            font-size: .35rem;
            }
            @media screen and (min-width: 279px) and (max-width: 281px){
                font-size: .3rem;
            }
        }
    }
}